#mukha {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: px; */
}

#logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    /* display: inline; */
    flex-shrink: 0;
}

#game {
    /* display: flex; */
    justify-content: center; */
    /* align-items: center;
}

#header{
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 125px */
    
    /* display:inline; */
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 3, 3);
}

h2 {
    color:white;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 100px;
}

#title {
    color: rgb(222, 226, 129);
    font-family: cursive;
    font-size: 150%;    
    margin: 0 0 10px 0;
    /* box-shadow: 0px 3px; */
    margin-top: 20px;
    margin-left: 15px;

    display: flex;
    justify-content: left;
    align-items: center;

    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}


.projects {
    height: 350px;
    width: 800px;
    background-color: rgb(46, 3, 3);
    border: 1px solid white;
    margin: 15px;
    color: white;

    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* display: inline-block; */
}

body {
    background-image: url('bg2.gif');
    background-repeat: None;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

h1 {
    color: khaki;
    font-family: Monospace;
    background-image: red;
    font-size: 350%;
    border: 2px solid white;
    /* padding: 10px; */
    margin: 10px 5 10px 10;
    font-weight: bold;
    text-align: center;
    background-color: rgba(285, 0, 10, 0.3);
    text-shadow: 6px 5px black;
    letter-spacing: 20px;

    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#box {

    color: white;
    background-color: rgb(26, 3, 3);

    display: flex;
    align-items: center; /* Aligns logo and text vertically */
    gap: 20px; /* Space between the logo and contact details */
    width: 700px;
}

.ez {
    color: FLoralwhite;
    font-family: Serif;
    background-color: rgba(249, 247, 247, 0.3);
    padding: 5px;
    margin-top: 500px;
}

.bold, .info{
    color: rgb(216, 173, 71);
    display:inline-flex;
}

.info2{
    color: rgb(236, 233, 229);
    font-family: Serif;
    background-color: rgba(249, 247, 247, 0.3);
}

#header{
    margin-top: 10px;
}
